<!DOCTYPE html>
<html ng-app="ChatApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <%- css('styles') %>
    <title>Chat App</title>
  </head>
  <body ng-controller="ChatController as chatCtrl">
    <div class="container" full-height>
      <div class="chat-window-container" ng-controller="WindowController as chatWindow" parent-height>
        <button class="button join-room-button" ng-click="chatCtrl.showRooms()">
          <span class="icon-plus"></span>
          Join Room
        </button>
        <chat-window class="chat-window" rooms="chatWindow.rooms" parent-height></chat-window>
      </div>
      <div class="user-window-container" full-height>
        <div class="user-window" full-height>
          <user-settings user="chatCtrl.user"></user-settings>
          <h1 class="well-header">Users</h1>
          <user-list class="user-list" ng-repeat="room in chatCtrl.user.rooms"
                     room="room" remaining-height ng-show="room.current">
          </user-list>
        </div>
      </div>
      <div class="chat-input" ng-controller="InputController as input">
        <form ng-submit="input.sendMessage()">
          <input ng-model="input.message" class="message-input">
          <button class="button">
            <span class="icon-angle-double-left"></span>
            Send
          </button>
        </form>
      </div>
      <room-list rooms="chatCtrl.roomList" user="chatCtrl.user"
                 ng-show="chatCtrl.roomsShowing" on-close="chatCtrl.hideRooms()">
      </room-list>
    </div>
    <% templates.each(function(contents, name) { %>
      <script type="text/ng-template" id="<%= name %>">
        <%- contents %>
      </script>
    <% }); %>
    <script src="/socket.io/socket.io.js"></script>
    <% if (environment === 'production') { %>
      <%- js('manifest_prod') %>
    <% } else { %>
      <%- js('manifest') %>
    <% } %>
  </body>
</html>
